.button {
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #0ea9b3;
    border-radius: 20px;
    background: #17ffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#17ffff), to(#0e66b3));
    background: -moz-linear-gradient(top, #17ffff, #0e66b3);
    background: linear-gradient(to bottom, #17ffff, #0e66b3);
    text-shadow: #0a7980 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
    display:block;
    margin:auto;
    width: 60%;
}
.button:hover,
.button:focus {
    border: 1px solid #14f1ff;
    background: #1cffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#1cffff), to(#117ad7));
    background: -moz-linear-gradient(top, #1cffff, #117ad7);
    background: linear-gradient(to bottom, #1cffff, #117ad7);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #0ea9b3;
    background: -webkit-gradient(linear, left top, left bottom, from(#0ea9b3), to(#0e66b3));
    background: -moz-linear-gradient(top, #0ea9b3, #0e66b3);
    background: linear-gradient(to bottom, #0ea9b3, #0e66b3);
}
