h1 {
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: underline;
    margin: 0px 0px;
}

label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: bold;
    float: left;
    padding-left: 10px;
}

input[type=text], input[type=tel], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
}

textarea {
    width: 50%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 10px;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #333;
}
