/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-oct-2017, 11:24:52
    Author     : Joaquín
*/

#menu{
    margin-bottom: 15px;
}

#menu ul{
    margin:0;padding:0;
}
#menu ul li{
    display:inline;margin:0 3px;
}

.contenedor{
    background: red;
    margin:auto;  /* para centrar el contenedor */
    width: 600px; /* es necesario dar un tamaño, sino
                  /* ocuparía toda la ventana y no se
                  /* va a centrar*/
}

#body{
    background: white;
    text-align:center; /*para que en IE 5.5 salga centrado*/
}

.contenedor{
    background: red;
    margin:auto;      /* para centrar el contenedor */
    width: 90%;
    text-align:left;  /* para eliminar la herencia en IE 5.5
                      /* y que los textos dentro del contenedor
                      /* no salgan centrados.*/
}

#cajas{
    width:90%;               /* 1 - le damos un ancho */
    height:220px;               /* 2 - le damos un alto */
    margin-top:10px;
}
.caja{
    width: 30%;               /* 3 */
    height: 50%;              /* 4 */
    float: left;                /* 5 - para que salga en formato de tabla*/
    margin: 0px 2px 10px 5px;
    background: blue;
}

.destacado{
    margin: 0px 15px 15px 15px;
    height: 200px; /* le damos un alto mínimo*/
    background: green;
}