/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-oct-2017, 11:24:52
    Author     : Joaquín
*/

#menu{
    margin-bottom: 15px;
}

#menu ul{
    margin:0;padding:0;
}

#menu ul li{
    display:inline;margin:0 3px;
}

#body{
    background: #FFFFCC;
    text-align:center; /*para que en IE 5.5 salga centrado*/
}

fieldset{
    margin-left: 30%;
    width: 40%;
}

#contenedor{
    padding-top: 1px;
    height:100%; 
    width:90%; 
    //background: red;
    margin:auto;      /* para centrar el contenedor */
}

#central{
    width:100%;               /* 1 - le damos un ancho */
    height:100%;               /* 2 - le damos un alto */
    margin-top:10px;
}
.caja{
    width: 30%;               /* 3 */
    height: 99%;              /* 4 */
    float: left;                /* 5 - para que salga en formato de tabla*/
    margin: 0px 2px 10px 5px;
    //background: blue;
    margin-left: 2.4%;
    border: 1px solid #99cccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cajaOferta{
    width: 45%;               /* 3 */
    height: 99%;              /* 4 */
    float: left;                /* 5 - para que salga en formato de tabla*/
    margin: 0px 2px 10px 5px;
    //background: blue;
    margin-left: 2.4%;
    border: 1px solid #99cccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

#mapa{
    width:90%;               /* 1 - le damos un ancho */
    height:90%;               /* 2 - le damos un alto */
    frameborder:1%;
    border:1;
}

#logo{
    width: 55%;               /* 3 */
    height: 60%;
    display: inline-block;
}

.fila{
    margin: 15px 15px 15px 15px;
    height: 200px; /* le damos un alto mínimo*/
    //background: green;
    alignment-adjust: baseline;

}

.filaOferta{
    margin: 15px 15px 15px 15px;
    height: 350px; /* le damos un alto mínimo*/
    //background: green;
    alignment-adjust: baseline;

}

.iconos{
    width: 10%;
    height: 10%;
    display: inline-block;
}

#presentacion{
    display:block;
    width:100%;               /* 1 - le damos un ancho */
}

#footer{
    position: absolute; 
    bottom: 0%; 
}

img{
    display:block;
    margin:auto;
    width:700px;
    height:400px;
}