/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-oct-2017, 11:24:52
    Author     : Joaquín
*/
a{
    text-decoration: none;
    color:black;
}

a{
    text-decoration: none;
    color:black;
}

#centro a{
    text-decoration: underline;
    color:black;
}
#menu{
    margin-bottom: 15px;
    background-color: #5721E1;
}

#menu ul{
    margin:0;
    font-weight:bold;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

#menu ul li{
    display:inline;
    margin:0 3px;
    color:white;
    text-height: bold;
}

#body{
    background: #FFFFCC;
    text-align:center; 
    font-family: 'verdana','arial';
}

#slideShowImages{
    margin:50px auto;
}

fieldset{
    margin-left: 30%;
    width: 40%;
}

#contenedor{
    padding-top: 1px;
    height:150%; 
    width:90%; 
    text-align: center;
    //background: red;
    margin:auto;      /* para centrar el contenedor */
}

#central{
    width:100%;               /* 1 - le damos un ancho */
    height:120%;               /* 2 - le damos un alto */
    margin-top:10px;
}
.caja{
    width: 30%;               /* 3 */
    height: 110%;              /* 4 */
    float: left;                /* 5 - para que salga en formato de tabla*/
    margin: 0px 2px 10px 5px;
    //background: blue;
    margin-left: 2.4%;
    border: 1px dotted #99cccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cajaOferta{
    width: 45%;               /* 3 */
    height: 125%;              /* 4 */
    float: left;                /* 5 - para que salga en formato de tabla*/
    margin: 0px 2px 10px 5px;
    //background: blue;
    margin-left: 2.4%;
    border: 1px solid #99cccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

#mapa{
    width:90%;               /* 1 - le damos un ancho */
    height:90%;               /* 2 - le damos un alto */
    frameborder:1%;
    border:1;
}

#logo{
    width: 60%;               /* 3 */
    height: 65%;
    background-color: black;
}

.fila{
    margin-bottom: 45px;
    margin-left: 15px;
    margin-top:15px;
    margin-right: 15px;
    height: 200px; /* le damos un alto mínimo*/
    //background: green;
}

.filaOferta{
    margin: 15px 15px 15px 15px;
    height: 350px; /* le damos un alto mínimo*/
    //background: green;
    alignment-adjust: baseline;

}

.iconos{
    width: 10%;
    height: 10%;
    display: inline-block;
}

#presentacion{
    display:block;
    width:100%;              
}
#footer{
    position: absolute; 
    bottom: 0%; 
    padding-bottom: 20px;
}

img{
    //display:block;
    margin:auto;
    width:700px;
    height:400px;
}

.casilla:hover { 
    background-color: black;
    height: 90%;
}

.casilla{
    display: inline;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

h3{
    color: white;
    background-color: #5721E1;
    padding: 10px;
}

h1{
    color: white;
    background-color: #5721E1;
    padding: 15px;
    font-size: 20px;
}

.negrita{
    font-weight: bold;
}

p{
    line-height:1.7em;
    font-size:17px;
}

ul{
    line-height:1.7em;
    font-size:17px; 
}

#cierre{
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 3px;
}

p a{
    color:black;
}

li a{
    color:white;
    font-weight:bold;
}

.psin {
    margin: 0; /* o el tamaño que quieres que exista entre h1 y el siguiente elemento */
    padding: 0;
    font-weight: bold;
}

#menuIntranet{
    margin: 30px;
}

.caja:hover{
    background-color: #e4e5e8;
}

#ppal{
    background: #E8E8E8;
}

#menuIntranet{
    font-size: 14px;
}