/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-oct-2017, 20:28:22
    Author     : Joaquín
*/

.servicio{
    width: 30%;               /* 3 */
    height: 30%;
    display: inline-block;
}

.oferta{
    width: 50%;               /* 3 */
    height: 50%;
    display: inline-block;
}